{#{% extends 'items/index2.html' %}#}
{% block charblock %}
    {% load staticfiles %}
    <div class="characteristics">
        <div class="container">
            <div class="row">

                <!-- Char. Item -->
                <div class="col-lg-3 col-md-6 char_col">

                    <div class="char_item d-flex flex-row align-items-center justify-content-start">
                        <div class="char_icon"><img src='{% static "items/images/char_1.png" %}' alt=""></div>
                        <div class="char_content">
                            <div class="char_title">Free Delivery</div>
                            <div class="char_subtitle"></div>
                        </div>
                    </div>
                </div>

                <!-- Char. Item -->
                <div class="col-lg-3 col-md-6 char_col">

                    <div class="char_item d-flex flex-row align-items-center justify-content-start">
                        <div class="char_icon"><img src='{% static "items/images/char_2.png" %}' alt=""></div>
                        <div class="char_content">
                            <div class="char_title">Returns Available</div>
                            <div class="char_subtitle"></div>
                        </div>
                    </div>
                </div>

                <!-- Char. Item -->
                <div class="col-lg-3 col-md-6 char_col">

                    <div class="char_item d-flex flex-row align-items-center justify-content-start">
                        <div class="char_icon"><img src='{% static "items/images/char_3.png" %}' alt=""></div>
                        <div class="char_content">
                            <div class="char_title">COD Available</div>
                            <div class="char_subtitle"></div>
                        </div>
                    </div>
                </div>

                <!-- Char. Item -->
                <div class="col-lg-3 col-md-6 char_col">

                    <div class="char_item d-flex flex-row align-items-center justify-content-start">
                        <div class="char_icon"><img src='{% static "items/images/char_4.png" %}' alt=""></div>
                        <div class="char_content">
                            <div class="char_title">Gift Packs</div>
                            <div class="char_subtitle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}